# 셋
중복을 허용하지 않고 원소들의 순서가 없어 인덱싱과 슬라이싱 불가

In [5]:
# set
s1 = {'A','B','C','A','D','E','F','B'}
s1 # ondexing & slicing 不

{'A', 'B', 'C', 'D', 'E', 'F'}

In [6]:
# remove & pop
s1.remove('A') # delete desinated element
print(s1)

s1.pop() # delete last element 
print(s1)

{'F', 'C', 'D', 'B', 'E'}
{'C', 'D', 'B', 'E'}

# 셋의 집합 연산

In [18]:
# calculus set
s1 = {'A','B','C','D','E','F','B'}
s2 = {'B','D','G','H'}

In [19]:
# intersection
# & == intersection()
s3 = s1 & s2 
print(s3)

s4 = s1.intersection(s2)
print(s4)

{'D', 'B'}
{'D', 'B'}

In [20]:
# union
# | == union()
s5 = s1 | s2
print(s5)

s6 = s1.union(s5)
print(s6)

{'G', 'H', 'F', 'C', 'D', 'B', 'A', 'E'}
{'G', 'H', 'F', 'C', 'D', 'B', 'A', 'E'}

In [21]:
# difference
# - == differnce()
s7 = s1 - s2 
print(s7)

s8 = s1.difference(s2)
print(s8)

{'F', 'E', 'A', 'C'}
{'F', 'E', 'A', 'C'}

In [22]:
# symmetric difference
# ^ == symmetric_difference
s9 = s1^s2
print(s9)

s10 = s1.symmetric_difference(s2)
print(s10)

{'G', 'H', 'F', 'C', 'A', 'E'}
{'G', 'H', 'F', 'C', 'A', 'E'}

symmetric_difference
> intersection을 제외한 집합

# 딕셔너리
key: 'value'

In [35]:
# dictionary 
M_T = {
    'math': 100,
    'eng': 90,
}
M_T

{'math': 100, 'eng': 90}

In [36]:
# element add, check & alter
M_T['kor'] = 85 # add element

# M_T['eng']  check element 

M_T['eng'] = 95 # alter element 
print(M_T)

{'math': 100, 'eng': 95, 'kor': 85}

In [37]:
# keys, values, items function 
print(list(M_T.keys())) # check keys
print(list(M_T.values())) # check values
print(list(M_T.items())) # o/w

['math', 'eng', 'kor']
[100, 95, 85]
[('math', 100), ('eng', 95), ('kor', 85)]

In [38]:
# delete element
M_T.pop('eng')
print(M_T)

{'math': 100, 'kor': 85}