# 문자열

In [1]:
p = '파이썬'
print(p)

파이썬

In [3]:
c = '''
또 물보라를 일으켜
따 따 따따 따따라 따따따
'''
print(c)

또 물보라를 일으켜
따 따 따따 따따라 따따따

In [5]:
# 문자열 연산 
d = p + str(3) # 문자열은 문자열끼리 형변환하여 연산 수행
d

'파이썬3'

In [6]:
e = '&' * 10 # 문자열 복사
e

'&&&&&&&&&&'

In [14]:
# 인덱스
h = '아 졸업하기 싫어'
print('h[0]: {}'.format(h[0]))
print('h[1]: {}'.format(h[1]))
print('h[-1]: {}'.format(h[-1]))
print('h[:7]: {}'.format(h[:7]))
print('h[7:]: {}'.format(h[7:]))
print('h[::2]: {}'.format(h[::2])) # 처음부터 2칸씩 건너뛰어 출력
print('h[::-1]: {}'.format(h[::-1])) # 역정렬

h[0]: 아
h[1]:
h[-1]: 어
h[:7]: 아 졸업하기
h[7:]: 싫어
h[::2]: 아졸하 어
h[::-1]: 어싫 기하업졸 아

# 문자열 함수

In [15]:
# 문자열, element의 길이를 전달
len('졸업이야? 내가?')

9

In [16]:
# 문자열 조합
'-'.join('졸업이야? 내가?')

'졸-업-이-야-?- -내-가-?'

In [17]:
# 기준 분리
'졸-업-이-야-?- -내-가-?'.split('-') # parameter가 없으면 공백을 기준으로 분리

['졸', '업', '이', '야', '?', ' ', '내', '가', '?']

In [18]:
# 특수한 문자 제거
txt = '\t 응애 나 애기 백수 \t'
txt.strip()

'응애 나 애기 백수'

In [19]:
# 문자 교체 
dt = '2021/07/05'
dt.replace('/','+')

'2021+07+05'

In [20]:
# 시작점 또는 끝점 맞는지 판별
'hello Hello'.startswith('hello')
# 끝은 endswith

True

In [21]:
# 문자 count
txt.count('애')

2

In [23]:
# 인덱스 값 반환
txt.index('백')

10

In [35]:
print(txt.index('애',4)) # 찾는 시작점만 지정
print(txt.index('애',1,4)) # 시작점과 종료점 지정

7
3

In [27]:
'''
비슷한거, 찾는 문자가 없는 경우 -1 출력, 
index는 valueerror, 변수는 문자열만 사용 가능
리스트, 튜플, 딕셔너리 자료형은 사용할 수 없음(attribute error)

'''
txt.find('나')

5

In [29]:
# 첫글자 대문자 
'qwe'.capitalize()

'Qwe'

In [30]:
# 전부 소문자 
'Qwe'.lower()

'qwe'

In [31]:
# 전부 대문자
'qwe'.upper()

'QWE'

In [33]:
# 유무 파악 
'qwe' in 'qwerty' # 없으면 false 반환, 분기문에서 유용함

True

# 문자열 포맷팅

In [39]:
name, age, number = '구경민', '26','15'
intro = 'my name is {0} {1} old, my student number is {2}'.format(name, age, number)
intro

'my name is 구경민 26 old, my student number is 15'

In [41]:
# 다른 방법
introd = f'my name is {name} {age} old, my student number is {number}'
introd

'my name is 구경민 26 old, my student number is 15'

In [42]:
# 숫자 포맷팅
일월, 십이월 = 1, 12 
print('제뉴어뤼는 {:02d}월'.format(일월)) 
'''
두자리로 채우는데 자릿수가 부족하면 0으로, 
d 는 정수
'''

print('디셈버는 {:02d}월'.format(십이월))

제뉴어뤼는 01월
디셈버는 12월

In [53]:
# 금액표시 예제 
num = 100000000
price = "{:,}"
price.format(num)

'100,000,000'

In [57]:
'{}, {:f}, {:.1f}, {:.2f}, {:.2%}'.format(4, 4, 4, 4.12345, 1/4) 
'''

# 공백, 
실수형, 
소숫점 첫째자리까지 실수형, 
소숫점 둘째자리까지 실수형
소숫점 둘째자리까지 퍼센트로 변환
'''

'4, 4.000000, 4.0, 4.12, 25.00%'